.text {
    position: absolute;
    max-width: 30vh;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 10px 20px;
}

h1 {
    color:tomato;
}

footer {
    position: absolute;
    display: inline-block;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}